<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xio.attendance.dao.EmpCheckingMapper" >
  <resultMap id="MWResultMap" type="com.xio.attendance.entity.MtWorkLine" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="line_code" property="lineCode" jdbcType="VARCHAR" />
    <result column="comp_id" property="compId" jdbcType="CHAR" />
    <result column="stat_id" property="statId" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enable_flag" property="enableFlag" jdbcType="CHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_timestamp" property="createTimestamp" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_timestamp" property="lastUpdateTimestamp" jdbcType="TIMESTAMP" />
    <result column="last_update_remark" property="lastUpdateRemark" jdbcType="VARCHAR" />
  </resultMap>

</mapper>